<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExpressionToCodeLib" version="1.5.4.0" targetFramework="net452" />
  <package id="ExpressiveExpressionTrees" version="1.1.1" targetFramework="net452" />
  <package id="ExpressiveReflection" version="1.2.6" targetFramework="net452" />
  <package id="ILMerge.Tools" version="2.14.1208" targetFramework="net452" />
</packages>